VITE_API_BASE=http://localhost:3000
VITE_UPI_ID=yourupi@bank
VITE_MERCHANT_NAME=Shiv%20Furniture%20House

# Google Sign-In
VITE_GOOGLE_CLIENT_ID=162293776499-kn7flqjonehhna3kum669e88dbptuboa.apps.googleusercontent.com
